div#weather-content {
  max-width: 950px;
  margin: auto;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  background: #f2f2f2;
  border-radius: 5px;
  padding-bottom: 2em;
}

div#weather-content h1 {
  font-size: 1.8rem;
}

.indented-content {
  padding-left: 1em;
  padding-right: 1em;
}

#weather-content .breadcrumb {
  background-color: transparent;
  margin-bottom: .2em;
}
